*{
    margin: 0%;
    font-family: "inter";
}
#topo{
background-color:#303030 ;
padding: 50px;
}
#tx-topo1{
color: #FFFFFF;
margin-top: 50px;
margin-left: 60px;
font-size: 51px;
}
#tx-topo2{
color: #FFFFFF;
margin-left: 60px;
margin-top: 15px;
}
#indicadores{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 50px;
    padding-left: 200px;
    padding-bottom: 50px;
}
#historia{
    margin-top: 50px;
    margin-left: 100px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#tx1-historia{
    margin-top: 200px;
}
#cadastro{
    background-color:#303030 ;
    padding: 50px;
    color: white;
    text-align: center; 
}
#img{
    margin-bottom: 75px;

}
input{
    background-color: #EAECE5;
    width: 300px;
    height: 40px;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px; 
}
button{
    width: 300px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #C07212;
    color: #FFFFFF ;
    font-weight: bolder;
    cursor: pointer;
}
